@import '../../App.scss';

$fx: all ease-in-out 2s;

@mixin rounded-btn {
    width: 8rem;
    margin-bottom: 2%;
    background-color: $violet !important;
    border-color: $violet !important;
    border-radius: 20px !important;
    font-weight: bold;
    @include shallow-shadow;
    transition: $fx;
}

@mixin rounded-btn-hover {
    width: 10rem;
    background-color: $deep-sea !important;
    border-color: $deep-sea !important;
    @include deep-shadow;
    transition: $fx;
}

@media only screen and (max-width: 600px) {
    .title-section {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .Welcome {
        margin-top: 10em;
    }
}

.Welcome {
    padding-top: 10%;
    text-align: center;
    @include center-center;
}

.welcome-msg {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
}

.btn-primary {
    @include rounded-btn;
}

.btn-primary:hover {
    @include rounded-btn-hover;
}